{% extends 'topics/base.html' %}

{% load staticfiles %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'topics/index_style.css' %}">{% endblock %}

{% block title %} Homepage {% endblock %}

{% block content %}
	{% if list_of_topics %}
	<ul>
	{% for topic in list_of_topics %}
		<li style="list-style-type:none;">
			<div class="box"><a href="{% url 'topics:one_topic' topic.id %}">
				<h4> {{ topic.topic_text }} </h4>
				<p> By user: {{ topic.user_who_posted }} at {{ topic.pub_date }}</p>
			</a></div>
		</li>
		{% endfor %}
	</ul>

	{% else %}
	<p> There are not topics to display :(</p>
	{% endif %}
{% endblock %}