<!-- Using homepage.html now. Keeping this for reference for now -->

{% extends topics/base.html %}

<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'topics/index_style.css' %}"/>
  <title>
    This is my website
  </title>
</head>

<body>

  <!--
  <ul class="nav_bar">
    <li style="float:left"><a href="{% url 'topics:index' %}">Home</a></li>
 
    {% if user.is_authenticated %}
    <li><a href="{% url 'user_logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'user_login' %}">Login</a></li>
    {% endif %}
 
    <li><a href="{% url 'topics:index' %}">Submit</a></li>
 
    {% if user.is_authenticated %}
      Block tags are encased in {#{%%}#} and variables are {#{{}}#}
      also I need to use {##} to comment out the django template thingies
    <li><a href="{% url 'topics:index' %}">Profile: {{ user.username }} </a></li>
    {% endif %}    
 
  </ul>
  -->

  {% if list_of_topics %}
  <div class="table">
    <ul>
      {% for topic in list_of_topics %}
      <!--
        I had the url namespaces to topics since that is the app app_name
        Now that i have topics:one_topic as the url everything work since it
        looks under the "topics" namespce for urls IE index, one_topic
        then looks for the regex called "one_topic"
      -->
      <li><a href="{% url 'topics:one_topic' topic.id %}">
        <div class="box">
          <h4>
            {{ forloop.counter }}: {{ topic.topic_text }}
          </h4>
          <p id="post_info">
            By user: {{ topic.user_who_posted }} at {{ topic.pub_date }}
          </p>
        </div>
      </a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
    <p> There are not topics to display :(</p>
  {% endif %}

</body>