{% extends 'topics/base.html' %}

{% load staticfiles %}

{% block extra_css %}
  	<link rel="stylesheet" type="text/css" href="{% static 'topics/index_style.css' %}">
 	 <link rel="stylesheet" type="text/css" href="{% static 'topics/topic_detail_style.css' %}">
{% endblock%}

{% block title %} {{ topic.topic_text }}{% endblock %}

{% block content %}
	<ul>
	  	<div class="box">
	    	<h4> {{ topic.topic_text }}</h4>
	    	<p> By user: {{ topic.user_who_posted }} at {{ topic.pub_date }}</p>
	    	<p id="desc">
	    		{{ topic.description_text }}
	    	</p>
	  	</div>
  	</ul>
{% endblock %}