/* 
  CSS for the homagepage file 
  will also be used by the detail page
*/
h4{
	margin: 0;
}
p{
	font-size: 12px;
	margin: 0;
}

.box{
	padding: 10px;
	width: 60%;
  	margin: auto;
  	background-color: #F2F2F2;
}

.box:hover{
	background-color: #DDD;
}

.box:visited{
	width: 50%;
	background-color: #FFF;
}