.login_box{
	line-height: 1.5;
	width: 340px;
	margin: 0 auto;
	margin-top: 5%;
	padding: 0;
	box-sizing: border-box;
	background-color: #F2F2F2; 
	border-style: solid;
	border-color: #555;
	border-width: 1px;
}

.login_box h1{
	text-align: center;
}

.login_box form{
	display: block;
	width: 100%;
	margin-top: 0;
}

.auth_box{
	margin:0;
	padding: 20px;
}

.auth_box input{
	border-style: none;
	display: block;
	padding: 5px 0px;
	outline: none;
	width: 100%;
	background-color: white;
}

.btn{
	border-color: black;
	border-width: 1px;
	background-color: #555;
	color: white;
	width: 100%;
	padding: 5px 0px;
	cursor: pointer;
}

.btn:hover{
	background-color: #222;
}